doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/themes/odometer-theme-default.css')
        link(rel='stylesheet', href='/stylesheets/themes/odometer-theme-digital.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto', type='text/css')
    body(style='background-color: black;')
        block content



    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js')

    block page_specific_scripts